---
layout: page
title: "O blogu"
description: "Prečo písať o smrti?"
header-img: "img/cinter1.jpg"
---

    <blockquote>
        Though the physicality of death destroys us, the idea of death may save us.
        <p style="text-align: right; ">-- Irvin Yalom</p>
    </blockquote>
<!-- English Version -->
<div class="en post-container">

    <p>
        Hovorí sa, že smrť je jednou z mála istot, ktoré v živote človek má – je totiž jedno, kto sme a čo robíme, isté je, že jedného dňa zomrieme. V čom si však už takí istí byť nemôžeme je to, za akých okoľností k tomu dôjde. Dokonca si nemôžeme byť ani istí, či smrť je definitívnym koncom našej existencie. A práve táto neistota v nás často vyvoláva úzkosť až strach. 
    </p>

    <p>
        Tento blog som založila preto, lebo téma smrti a existencie sa týka každého z nás. Zároveň je to ale oblasť, o ktorej sa priamo nehovorí a spoločnosť sa jej vyhýba. Myšlienka vlastnej smrteľnosti je pre nás problematická. Prečo to tak ale je? Čoho sa ľudia naozaj boja, keď sa boja smrti? Ako sa časom menil postoj spoločnosti voči smrti a umeriajúcim? A aký má k nim naša spoločnosť postoj v súčasnosti? Vieme si predstaviť svet bez smrti? 
    </p>
    <p>
        Na mnohé z týchto a podobných otázok nedostaneme nikdy dostačujúcu odpoveď, tento blog však ponúka priestor, aby sme o nich začali premýšľať a hovoriť...
    </p>


</div>


{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
